---
layout: base
---

<link rel="stylesheet" type="text/css" href="/lb-test.css" />

<section id="hero">
  <div class="container">
    <div class="host">
      <img src="/images/host.jpg">
      <p class="title">Автор теста</p>
      <p class="name">Николай Воробьёв</p>
    </div>
    <h1 class="subheadline">БЕСПЛАТНО Пройди тест</h1>
    <h1 class="primary">{{ page.title }}</h1>
    <p class="lead">
      поможет выбрать дело жизни, которое сделает тебя счастливым
    </p>
  </div>
</section>

<section id="main">
  <div class="container">
    <div class="col-xs-6 col-lg-4">
      <img src="/images/test.jpg" class="img-responsive"/>
    </div>
    <div class="col-xs-6 col-lg-8">
      <div class="formholder">
        <p>Заполни форму чтобы пройти тест «{{ page.title }}»</p>
        <form action="http://z.prorealnost.com/order_and_redirect.php" method="POST">
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Емейл" required="required"/>
          </div>
          <button type="submit" class="btn btn-warning btn-lg btn-block">Пройти &rarr;</button>
          <!--input type="hidden" name="mailchimp-product-interest-id" value="cb30125b8e" /-->
          <input type="hidden" name="redirect" value="http://delo.soedinennost.com/test-ok/" />
        </form>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">
    <table>
      <tr>
        <td class="img"><img src="/images/bulletimage1.png" /></td>
        <td class="text">Твоя жизнь наполнится смыслом</td>
      </tr>
      <tr>
        <td class="img"><img src="/images/bulletimage2.png" /></td>
        <td class="text">Ты будешь бодро вставать по утрам</td>
      </tr>
      <tr>
        <td class="img"><img src="/images/bulletimage3.png" /></td>
        <td class="text">Ты станешь вдохновлённым и счастливым</td>
      </tr>
      <tr>
        <td class="img"><img src="/images/bulletimage4.png" /></td>
        <td class="text">Каждое твоё действие будет направлено на осуществление твоей мечты</td>
      </tr>
      <tr>
        <td class="img"><img src="/images/bulletimage5.png" /></td>
        <td class="text">За следующие 6 месяцев ты сделаешь больше, чем за весь прошлый год</td>
      </tr>
      <tr>
        <td class="img"><img src="/images/bulletimage6.png" /></td>
        <td class="text">Ты изменишь свою жизнь и будешь с гордостью рассказывать о своих достижениях</td>
      </tr>
    </table>
  </div>
</section>

<section id="cta">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <p>Начинай менять свою жизнь к лучшему уже сегодня</p>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-success btn-lg btn-block" onclick="document.forms[0].elements[0].focus(); return false;">Пройти тест &rarr;</button>
      </div>
    </div>
  </div>
</section>
